# Redis Configuration
REDIS_URL=redis://redis:6379/0

# Database Configuration
DATABASE_URL=postgresql://admin:admin123@host.docker.internal:5432/SyncTelemetry

# MinIO Configuration
MINIO_ENDPOINT=host.docker.internal:9000
MINIO_ACCESS_KEY=NMNDA6VENQ11BZYLX7PY
MINIO_SECRET_KEY=CkF5MX19EDcqDiXqMAgO8VL2KLTKSo1v7mPe+B+X

# Application Configuration
APP_HOST=0.0.0.0
APP_PORT=8000

## Essas variáveis são exemplos. Altere conforme necessário. Importante lembrar
## que o conteúdo desse arquivo é apenas de credenciais locais, portanto não
## há risco de exposição de dados sensíveis.
